{% extends 'master' %}

{% block content %}
<script>
  document.ready(
    popupwindow('https://www.facebook.com/ticketsystemAlkfejl', 'Facebook Page!', 400, 400)
  )
</script>
<div class="container-fluid bg-1 text-center">
  <h2>Ticket system</h2>
</div>


{% endblock %}

