{% extends 'master' %}

{% block title %}Lista{% endblock %}
{% block content %}
<div class="container-fluid bg-1 text-center">
  <h2>Ticketek</h2>

  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <table class="table">

        <thead>
          <tr>
            <th>Ticket id</th>
            <th>Státusz</th>
            <th>Hozzárendelt</th>
            <th>Leírás</th>
            <th>Módosítás</th>
            {% if currentUser.admin %}
            <th>Törlés</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
        {% for ticket in tickets %}
        <tr>
          <td>{{ ticket.id }}</td>
          <td>
            {% for stat in statuses %}
              {% if stat.id == ticket.status_id %}
                {{stat.status_txt }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for user in users %}
              {% if user.id == ticket.user_id%}
                {{ user.username}}
              {% endif %}
            {% endfor %}
          </td>
          <td><div class="popup" title="{{ ticket.description }}" onclick="javascript:clickInfo({{ ticket.id }})"><span class="glyphicon glyphicon-info-sign"></span><span class="popuptext" id="disc_popup{{ticket.id}}">{{ ticket.description }}</span></div></td>
          <td><a class="btn btn-default btn-sm" href="/tickets/{{ ticket.id }}/edit">Szerkeszt</a></td>
          <td>
            <form action = "/tickets/{{ ticket.id }}/delete" method="POST">
              {{ csrfField }}
              {% if currentUser.admin %}
              <input type="submit" class="btn btn-danger btn-sm" value="X"/>
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>
{% endblock %}
